## Create Power BI reports in Jupyter Notebooks

---

Let explore how we can create Power Report in Jupyter Notebooks  

 With this new update, users can gain insights instantly without the hassle of switching between tools or dealing with cumbersome data exports. You can check this [link](https://powerbi.microsoft.com/en-us/blog/create-power-bi-reports-in-jupyter-notebooks/) for further information

In [1]:
# Let install the Power BI client 
from powerbiclient.authentication import DeviceCodeLoginAuthentication
from powerbiclient import Report, models
from powerbiclient import QuickVisualize, get_dataset_config, Report
from powerbiclient.authentication import DeviceCodeLoginAuthentication
from io import StringIO
from ipywidgets import interact
import requests
import pandas as pd
import matplotlib
from powerbiclient import Report, models

In [3]:
# Auth object for demo
auth = DeviceCodeLoginAuthentication()

Performing device flow authentication. Please follow the instructions below.
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code CG94FC3RE to authenticate.

Device flow authentication successfully completed.
You are now logged in .

The result should be passed only to trusted code in your notebook.

## About the Dataset
---
The dataset was extracted from Kaggle. Check the [link](https://www.kaggle.com/datasets/ashishraut64/global-methane-emissions) for more information about the dataset   
The following dataset has information about methane gas emissions globally.

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
# Importing the dataset
df = pd.read_csv('Methane_final.csv')
df.head()

,Unnamed: 0,region,country,emissions,type,segment,reason,baseYear,notes
0,0,Africa,Algeria,257.611206,Agriculture,Total,All,2019-2021,Average based on United Nations Framework Conv...
1,1,Africa,Algeria,0.052000,Energy,Bioenergy,All,2022,Estimates from end-uses are for 2020 or 2021 (...
2,2,Africa,Algeria,130.798996,Energy,Gas pipelines and LNG facilities,Fugitive,2022,Not available
3,3,Africa,Algeria,69.741898,Energy,Gas pipelines and LNG facilities,Vented,2022,Not available
4,4,Africa,Algeria,213.987000,Energy,Onshore gas,Fugitive,2022,Not available

In [6]:
# Let check the total rows and columns in this dataframe
data_shape = df.shape
print("There are {} rows and {} columns in this dataset".format(data_shape[0],data_shape[1]))

There are 1548 rows and 9 columns in this dataset

In [7]:
# Let check for null values
df.isnull().sum()
print("There are no null values in this dataset")

There are no null values in this dataset

In [8]:
# Let the delete the unamed:0 column
df = df.drop(['Unnamed: 0'], axis=1)

In [9]:
df.sample(10)

,region,country,emissions,type,segment,reason,baseYear,notes
926,Europe,Germany,0.023368,Energy,Offshore gas,Vented,2022,Not available
503,Asia Pacific,Indonesia,3518.344482,Agriculture,Total,All,2019-2021,Average based on United Nations Framework Conv...
203,Africa,Guinea,438.159424,Agriculture,Total,All,2019-2021,Average based on United Nations Framework Conv...
546,Asia Pacific,Korea,0.041719,Energy,Onshore gas,Fugitive,2022,Not available
1423,Other,Other,82.033897,Energy,Onshore oil,Vented,2022,Not available
1214,Middle East,Jordan,0.495481,Energy,Onshore gas,Vented,2022,Not available
701,Central and South America,Bolivia,56.529099,Energy,Onshore gas,Vented,2022,Not available
663,Asia Pacific,Thailand,94.464996,Energy,Onshore oil,Vented,2022,Not available
199,Africa,Ghana,2.759281,Energy,Other from oil and gas,All,2022,Estimates from end-uses are for 2020 or 2021 (...
327,Africa,Somalia,23.820881,Other,Total,All,2019-2021,Average based on United Nations Framework Conv...

In [10]:
# Let check the baseYear column
print(df.baseYear.unique())
print(df['baseYear'].dtypes)
# The dates column is not supposed be an object type

['2019-2021' '2022']
object

In [11]:
# Let check the region column
print(df.region.unique())
# let replace the 'World' with Other
df['region'] = df['region'].replace('World','Other')
df['region'].nunique()

['Africa' 'Asia Pacific' 'Central and South America' 'Europe'
 'Middle East' 'North America' 'Other' 'Russia & Caspian' 'World']

8

In [12]:
# Let check the counts of distinct values in the baseYear column
print('value counts \n', df.baseYear.value_counts())
# for the sake of this analysis let change the value of 2019 -2021 to 2021
df['baseYear'] = df['baseYear'].replace('2019-2021', 2021)
print('There are two years in this dataset 2021-2022')
df['baseYear'].head()

value counts
 baseYear
2022         1233
2019-2021     315
Name: count, dtype: int64
There are two years in this dataset 2021-2022

0    2021
1    2022
2    2022
3    2022
4    2022
Name: baseYear, dtype: object

In [13]:
# Let group the Region that has the most emissions and round it to 2 decimal place
region_emission = df.groupby('region')['emissions'].sum().round(2)
region_emission

region
Africa                        54197.15
Asia Pacific                 177699.61
Central and South America     45639.99
Europe                        49209.00
Middle East                   38095.80
North America                 63347.41
Other                        505149.67
Russia & Caspian              62421.61
Name: emissions, dtype: float64

In [14]:
jj = df[['region','emissions']]
jj.nunique()

region          8
emissions    1531
dtype: int64

In [15]:
QuickVisualize(get_dataset_config(jj), auth=auth)

QuickVisualize()

In [29]:
country_emmisions = df[['country','region','emissions']]

In [30]:
QuickVisualize(get_dataset_config(country_emmisions), auth=auth)

QuickVisualize()